.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    height: 20%;
    padding: 3.3rem;
 
  }
  
  .box {
    background-color: #f0f0f0;
    padding: 16px;
    text-align: center;
    width: 90%;
   
    
  }
  
  @media (max-width: 768px) {
    .hero {
      grid-template-columns: 1fr;
    }
    
    .box {
      transform: none; 
      width: 80%;
    }
  }
  